body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 5px;
    width: 100%;
}

header {
    padding: 10px;
    background-color: crimson;
}

nav ul {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: flex-end; /* Align items to the right */
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: large;
}

.photos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.photo-item {
    flex-basis: calc(25% - 2em); /* Adjust for margins */
    box-sizing: border-box;
    margin: 1em;
}

.photo-item img {
    max-width: 100%;
    height: auto;
}

.pagination {
    text-align: center;
}

.pagination a {
    margin: 0 10px;
    color: blue;
}

.pagination a:hover {
    color: deepskyblue;
}
